* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.child {
    width: 100px;
    height: 200px;
}

.container {
    background: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}