/* .child {
    width: 200px;
    height: 200px;
} */

.container {
    display: grid;
    /* height: 500px; */
    grid-template-columns: repeat(2, 100px) auto;
    grid-template-rows: 100px 25% 20vh;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "footer-left footer-left footer-right";
    gap: 10px;
}

.header {
    grid-area: header;
}

.left {
    grid-area: sidebar;
}

.right {
    grid-area: main;
}

.bottom-left {
    grid-area: footer-left;
}


.bottom-right {
    grid-area: footer-right;
}